@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(245, 246, 246);
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

.header{
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: rgb(245, 246, 246);
    position: sticky;
    top: 0px;
}
input{
    height: 0;
}

input::before {
    content: "";
    position: fixed;
    background: url("thema.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    top: 40px;
    left: 70%;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

input:checked{
    background-color: black;
    color: #fff;
}

input:checked + .wrapper{
    background-color: black;
    color: #fff;
}

input:checked + .wrapper .header{
    background-color: black;
}

input:checked + .wrapper .p1{
    color: rgb(30 , 183, 208);
}

input:checked + .wrapper .l1{
    background-color: black;
}

input:checked + .wrapper .blok1{
    background-color: black;
}

input:checked + .wrapper .blok2{
    background-color: black;
}

input:checked + .wrapper .p{
    background-color: black;
}
input:checked::before{
    background-color: rgb(255, 255, 255);
}
h2{
    text-align: left;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
}

header h1{
    font-weight: bold; 
    font-size: 32px;
}

.blok1{
    width: 1200px;
    height: 430px;
    background-color: white;
    border-radius: 25px;
    margin: 0 auto;
    padding: 0 15px;
}

.blok1:hover{
    background: rgb(232,243,231);
}

.blok2{
    width: 1200px;
    background-color: white;
    border-radius: 25px;
    margin: 0 auto;
    padding: 0 15px;
}

.blok2:hover{
    background: rgb(223,230,240);
}
.l1{
    width: 270px;
    height: 135px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 6px 25px #d0d0d0;
    display: inline-block;
    font-size: 16px;
}

.l1:hover{
    box-shadow: none;
}

.fasfa-code{
    width: 20px;
    height: 20px;
}

hr{
    width: 250px;
    height: 1/2px;
    background: rgb(180, 174, 174);
}

.p{
    border: 1px solid lightseagreen;
    width: 96px;
    height: 31px;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}

h3{
    margin: 10px 10px;
}

.p:hover{
    border-color: #148BB1;
    box-shadow: 1px 2px 10px  #C8C8C8;
}

.p1{
    color: rgb(59, 59, 161);
    margin: -35px;
    text-align: right;
    font-size: 17px;
    margin-right: 15px;
}

a{
    text-decoration: none;
    color: black;
}
